/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* root css */
:root {
    --primary-color: #13ae8d;
    --dark: #000000;
    --white: #ffffff;
    --gray: #808080;
}

/* global css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Inter', system-ui;
}

/* header css */
.header {
    top: 0;
    left: 0;
    z-index: 1;
}

.header .navbar {
    padding: 40px 12px;
}

.header .navbar .navbar-nav {
    margin: 0 0 0 auto;
    display: flex;
    gap: 24px;
}

.header .navbar .nav-item {
    font-weight: 500;
}

.header .navbar .nav-item .nav-link {
    padding: 0;
    color: var(--gray);
    transition: 0.3s ease-in-out;
}

.header .navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 0;
    width: 100%;
    height: 2px;
}

.header .nav-link:hover {
    color: var(--dark);
}

.header .nav-link:hover::before {
    background: var(--primary-color);
}

.header .nav-link {
    gap: 10px;
}

.header .nav-link img {
    transform: rotate(180deg);
    transition: 0.3s ease-in-out;
}

.header .nav-item.dropdown .nav-link.rotate img {
    transform: rotate(0deg);
}

.header .navbar-nav .nav-item .dropdown-menu {
    width: 254px;
    padding: 24px;
    text-transform: none;
    margin-top: 20px;
    font-weight: 500;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.header .dropdown-menu p:not(:first-child) {
    font-weight: 900;
    color: var(--gray);
    margin-bottom: 0;
}

.header .dropdown-toggle::after {
    display: none;
}

.header .navbar .nav-toggler {
    display: none;
    cursor: pointer;
}

.header .navbar .nav-toggler:focus {
    outline: none;
}

/* mobile nav css */
.offcanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
}

.offcanvas.active {
    transform: translateX(0);
    z-index: 1;
}

.offcanvas.active .overlay {
    opacity: 1;
}

.offcanvas .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.3s linear 0.3s;
    z-index: -1;
}

.offcanvas .offcanvas-container {
    width: 242px;
    height: 100%;
    background: var(--primary-color);
    padding: 0 20px;
    z-index: 1;
}

.offcanvas .offcanvas-top {
    padding: 20px 0;
    border-bottom: 1px solid var(--dark);
}

.offcanvas .offcanvas-body {
    padding: 25px 0 0;
}

.offcanvas .nav-item .nav-link {
    color: #000;
}

.offcanvas .nav-item .dropdown-menu {
    padding: 24px;
    width: auto;
}

/* hero section css */
.hero {
    height: 100vh;
    padding: 150px 0 300px 0;
    background: url('../images/bg-pattern.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1113px;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/bg-pattern-two.png');
    background-repeat: no-repeat;
    background-position: 100% 120px;
    background-size: 330px;
    z-index: -1;
}

.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/hero-dark-vector.png');
    background-repeat: no-repeat;
    background-position: 0 85%;
    z-index: -1;
}

.hero .row {
    gap: 0;
    align-items: center;
}

.hero .col-sm-12:nth-child(1) {
    order: 1;
    text-align: left;
}

.hero .col-sm-12:nth-child(2) {
    order: 2;
}

.hero .main-title {
    font-size: 64px;
    margin: 0 0 16px;
}

.hero .hero-desc {
    padding: 0 140px 0 0;
    margin: 0 0 16px;
}

.hero .hero-button {
    background: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
}

/* about section css */
.about {
    position: relative;
    background: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}

.about::before {
    content: '';
    position: absolute;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    width: 100%;
    height: 100%;
}

.about-content  {
    margin: 0 auto;
    max-width: 626px;
}

.about-content .sub-title {
    margin: 0 auto;
    max-width: 502px;
    font-size: 24px;
    color: var(--white);
    line-height: 29px;
    font-weight: 900;
    margin-bottom: 34px;
}

.about-content .title {
    font-size: 48px;
    line-height: 58px;
    color: var(--primary-color);
    font-weight: 700;
    margin-bottom: 15px;
}

.about-content .badges {
    gap: 60px;
}

/* service section css */
.services {
    padding: 80px 0;
    position: relative;
}

.services .container {
    max-width: 880px;
}

.services::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/services-vector-one.png');
    background-repeat: no-repeat;
    background-position: 100% 350px;
    z-index: -1;
}

.services::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('../images/services-vector-two.png');
    background-repeat: no-repeat;
    background-position: 0 100%;
    z-index: -1;
}

.section-title-content {
    margin-bottom: 60px;
}

.section-title-content .title {
    font-size: 36px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 22px;
}

.section-title-content .sub-title {
    font-size: 20px;
    font-weight: 900;
    color: var(--gray);
    margin-bottom: 5px;
}

.section-title-content .sub-title span {
    color: var(--dark);
}

.section-title-content .learn-more {
    font-weight: 500;
}

.section-title-content .learn-more a {
    font-weight: 700;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    text-decoration: none;
}

.services .single-services .row {
    flex-direction: row;
    align-items: center;
}

.single-services .row:not(:last-child) {
    margin-bottom: 100px;
}

.services .single-services .row.reversed {
    flex-direction: row-reverse;
}

.single-service-content .title {
    font-size: 28px;
    line-height: 33px;
    font-weight: 700;
    width: 260px;
}

.single-service-content a {
    font-weight: 700;
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    text-decoration: none;
}

/* mobile responsive css */
@media screen and (max-width: 992px) {
    .container,.services .container {
        max-width: 330px;
        margin: 0 auto;
    }

    .header .navbar .nav-toggler {
        display: block;
    }

    /* hero styling */
    .hero {
        position: relative;
        background: none;
        padding: 90px 0 50px 0;
        height: 100%;
    }

    .hero::before {
        background-position: 100% 100px;
        background-size: 50%;
    }

    .hero::after {
        background-position: 0 85%;
        z-index: -1;
    }

    .hero .row {
        gap: 50px;
    }

    .hero img {
        width: 100%;
    }

    .hero .col-sm-12:nth-child(1) {
        text-align: center;
        order: 2;
    }

    .hero .col-sm-12:nth-child(2) {
        order: 1;
    }

    .hero .main-title {
        font-size: 36px;
        font-weight: 700;
        color: var(--dark);
        margin: 0 0 12px;
    }

    .hero .main-title span {
        color: var(--primary-color);
    }

    .hero .hero-desc {
        padding: 0 9px;
        margin: 0 0 8px;
    }

    .about img {
        width: 100%;
    }
    
    .about-content .sub-title {
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 30px;
    }
    
    .about-content .title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 50px;
    }
    
    .about-content .badges {
        gap: 40px;
    }

    .services {
        padding: 50px 0;
        text-align: center;
    }
    
    .services::before, .services::after {
        background: none;
    }
    
    .section-title-content .title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 10px;
    }
    
    .section-title-content .sub-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    
    .section-title-content .learn-more a {
        font-size: 14px;
    }
    
    .services .single-services .row {
        flex-direction: column-reverse;
    }
    
    .single-services .row:not(:last-child) {
        margin-bottom: 60px;
    }
    
    .services .single-services .row.reversed {
        flex-direction: column-reverse;
    }

    .single-service-image {
        margin-bottom: 30px;
    }

    .single-service-image img {
        width: 100%;
    }
    
    .single-service-content .title {
        font-size: 20px;
        line-height: 24px;
        width: 100%;
    }
    
    .single-service-content .text {
        font-size: 14px;
        line-height: 17px;
        width: 100%;
    }
}
